<h1> Hello World!</h1>
{% schema %}
{
    "name": "Custom section",
    "settings":  [],
    "presets": [
    {
      "name": "Default custom section"
    },
  ],
  "tag": "header",

}

{% endschema %}